h1 {
    font-size: 50px;
    font-style: italic;
    text-decoration: underline;
}
hr {
    height: 2.5px;
    background-color: black;
}
h2, h3 {
    font-size: 30px;
}
p {
    font-size: 20px;
}
li {
    font-size: larger;
}
.backhome {
    display: block;
    background-color: rgb(127, 77, 207);
    height: 40px;
    border-radius: 20px;
    margin: auto;
    cursor: pointer;
    color: white;
    border: none;
    transition: 0.15s;
}
.backhome:hover {
    color: rgb(0, 0, 00);
    background-color: bisque;
}