.odin-rec {
    background: rgb(49,46,62);
    background: linear-gradient(74deg, rgba(49,46,62,1) 46%, rgba(77,77,115,1) 100%);
    text-align: center;
    padding: 15px;
    color: white;
}
body {
    background-image: url(/images/rec\ img.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mid-bg {
    background-color: rgba(201, 202, 212, 0.856);
    width: 60%;
    border-radius: 5px;
    margin: auto;
    padding: 9px;
}
li {
    margin-bottom: 25px;
    font-size: 40px;
}
ul {
text-align: center;
}
.rata {
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.6);
    display: block;
    margin: 0 auto 0 auto;
    width: min(70%, 500px);
    border-radius: 10px;
    
}
a {
    color: black;
}