.odin-rec {
    background: rgb(49,46,62);
    background: linear-gradient(74deg, rgba(49,46,62,1) 46%, rgba(77,77,115,1) 100%);
    text-align: center;
    padding: 15px;
    color: white;
}
body[class="indexcss"] {
    background-image: url(/images/rec\ img.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mid-bg {
    background-color: rgba(201, 202, 212, 0.856);
    width: 60%;
    border-radius: 5px;
    margin: auto;
    padding: 9px;
}
li[class="tables"] {
    margin-bottom: 25px;
    font-size: 40px;
}
ul[class="tables"] {
text-align: center;
}
.rata {
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.6);
    display: block;
    margin: 0 auto 0 auto;
    width: min(70%, 500px);
    border-radius: 10px;
    
}
a {
    color: black;
}
h1 {
    font-size: 50px;
    font-style: italic;
    text-decoration: underline;
}
hr {
    height: 2.5px;
    background-color: black;
}
h2, h3 {
    font-size: 30px;
}
p {
    font-size: 20px;
}.antigrated {
    display: block;
    max-width: 30%;
    background-color: rgb(127, 77, 207);
    height: 20px;
    border-radius: 10px;
    margin: auto;
    cursor: pointer;
    color: white;
    border: none;
    transition: 0.15s;
    text-align: center;
    padding: 6px;
}
.antigrated:hover {
    color: rgb(0, 0, 00);
    background-color: bisque;
}

.container {
    height: 40px;
    display: inline-block;
}
.sinigangimg {
    height: 360px;
}
.adobogif {
    height: 399px;
}
.champoimg {
    width: 460px;
}
li {
    font-size: larger;
}